/* styles/list.css */

/* Conteneur principal pour la liste des activités */
.activities-container {
    font-family: 'poppins', serif;
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
  }
  
  h1 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
  }
  
  /* Grille des activités */
  .activities-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
    padding: 1rem;
  }
  
  /* Carte d'activité */
  .activity-card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    padding: 1rem;
    text-align: left;
  }
  
  .activity-card h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
  
  .activity-card p {
    font-size: 1rem;
    color: #666;
    margin-bottom: 1rem;
  }
  
  /* Image des activités */
  .activity-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
  }
  
  /* Bouton pour voir plus de détails */
  .view-button {
    font-family: 'poppins', serif;
    background-color: #007bff;
    color: white;
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .view-button:hover {
    background-color: #0056b3;
  }
  